<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>江财附中</title>
    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible">
    <meta content="webkit" name="renderer">
    <meta content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1" name="viewport">
    <meta content="smileplus" name="author">
    <link href="/cdfz/static/favicon.ico" rel="icon">
    <link href="/cdfz/static/css/chunk-06ae59ca.cebad5c2.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-10d1d468.bb4dfc16.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-130f3166.7746f887.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-29b309ba.5d918061.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-2d88c947.b63bf4a5.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-34b0bf57.71ad5b65.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-3fd7562c.0b958cea.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-5010f86b.388b10c5.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-68c0cd74.c4ba03e4.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-b66082e2.fc7481c3.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-cbbaa714.6426aadb.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-d8083780.44281a4f.css" rel="prefetch">
    <link href="/cdfz/static/css/chunk-d9794882.6cd8a232.css" rel="prefetch">
    <link href="/cdfz/static/js/chunk-06ae59ca.9617074d.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-10d1d468.40d948ad.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-130f3166.04ff0d13.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-29b309ba.8e30781e.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-2d0f0dee.487a11e4.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-2d88c947.a85d3fba.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-34b0bf57.b8a4ea92.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-3fd7562c.dc20177b.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-5010f86b.cd99d2ed.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-68c0cd74.e1fa573f.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-b66082e2.5f2702f4.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-cbbaa714.074e345a.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-d8083780.b8a00c6e.js" rel="prefetch">
    <link href="/cdfz/static/js/chunk-d9794882.a0bc26a2.js" rel="prefetch">
    <link as="style" href="/cdfz/static/css/app.f4076297.css" rel="preload">
    <link as="style" href="/cdfz/static/css/chunk-vendors.479255a1.css" rel="preload">
    <link as="script" href="/cdfz/static/js/app.e133a713.js" rel="preload">
    <link as="script" href="/cdfz/static/js/chunk-vendors.aa4fa739.js" rel="preload">
    <link href="/cdfz/static/css/chunk-vendors.479255a1.css" rel="stylesheet">
    <link href="/cdfz/static/css/app.f4076297.css" rel="stylesheet">
</head>
<body>
<div id="app"></div>
<script src="/cdfz/static/js/chunk-vendors.aa4fa739.js"></script>
<script src="/cdfz/static/js/app.e133a713.js"></script>
</body>
</html>